@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    box-sizing: border-box;
    margin: auto;
    background-color: rgb(255, 255, 255);
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
    color: #fff;
}

.container {
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.toggle {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    color: green;
    width: 40px;
    height: 40px;
    opacity: 0.4;
    font-size: 20px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle:hover {
    opacity: 1;
    cursor: pointer;
    font-size: 24px;
    transition: opacity 0.5s, font-size 0.5s;
}